<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Lista.10</title>
   

</head>
<body>
    <header>
        <h1>Instituto Federal do Triângulo Mineiro</h1>
        <nav>
            <ul>
                <li><a href="">Institucional</a></li>
                <li><a href="">Campi</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h3>Uberlândia Centro</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias debitis quaerat perspiciatis voluptate dolores excepturi doloremque beatae hic laborum minima quae ex illo ea maxime dolorum ratione, mollitia quia!
            Odio eum animi perferendis sed corrupti, consequuntur odit ut deleniti reiciendis doloremque, cupiditate deserunt facere quos hic omnis, non possimus magnam modi impedit? Nostrum, alias magnam? Omnis, distinctio sapiente. Quam.
            Ipsa ut molestiae cumque voluptatibus? Totam magni repudiandae illum doloremque aut facilis cum dolorum suscipit velit distinctio labore repellat corporis ut sapiente, iste voluptates quisquam ipsa et aspernatur maiores laborum?</p>
            <img src="img/iftm.jpg" alt="Foto da entrada do InstitutoFeral do Triangulo Mineiro.">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias debitis quaerat perspiciatis voluptate dolores excepturi doloremque beatae hic laborum minima quae ex illo ea maxime dolorum ratione, mollitia quia!
            Odio eum animi perferendis sed corrupti, consequuntur odit ut deleniti reiciendis doloremque, cupiditate deserunt facere quos hic omnis, non possimus magnam modi impedit? Nostrum, alias magnam? Omnis, distinctio sapiente. Quam.</p>
            <ul>
                <li>Ensino</li>
                <li>Pesquisa</li>
                <li>Extensão</li>
                <li>Outras atividades</li>
            </ul>
        </section>

        <section>
            <h3>Ituiutaba</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloribus odio, reiciendis debitis porro hic ex nostrum magnam unde ratione sed enim? Sequi eius impedit inventore eum provident voluptas? Mollitia.
            Ea eius consequatur, aliquam dolore eveniet excepturi illo fuga optio odit necessitatibus ipsam, exercitationem nisi at asperiores repellendus, aperiam nihil obcaecati magni quos delectus minima quam? Ex, ab a. Unde.
            Numquam neque aspernatur reiciendis, facilis minima rerum, molestias quis nobis fugit eum recusandae assumenda sint eius pariatur optio quaerat inventore ut ea laborum, iste ad eligendi! Quos veritatis soluta saepe?
            Totam non quis magnam laborum reprehenderit aliquam esse atque eaque. Laboriosam, accusamus quis fugit placeat aliquid nulla facilis ipsam, vitae earum, ab rerum neque officiis! Aperiam cum animi iste consequuntur!</p>
            <img src="img/iftm2.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloribus odio, reiciendis debitis porro hic ex nostrum magnam unde ratione sed enim? Sequi eius impedit inventore eum provident voluptas? Mollitia.
            Ea eius consequatur, aliquam dolore eveniet excepturi illo fuga optio odit necessitatibus ipsam, exercitationem nisi at asperiores repellendus, aperiam nihil obcaecati magni quos delectus minima quam? Ex, ab a. Unde.
            Numquam neque aspernatur reiciendis, facilis minima rerum, molestias quis nobis fugit eum recusandae assumenda sint eius pariatur optio quaerat inventore ut ea laborum, iste ad eligendi! Quos veritatis soluta saepe?
            Totam non quis magnam laborum reprehenderit aliquam esse atque eaque. Laboriosam, accusamus quis fugit placeat aliquid nulla facilis ipsam, vitae earum, ab rerum neque officiis! Aperiam cum animi iste consequuntur!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam doloribus odio, reiciendis debitis porro hic ex nostrum magnam unde ratione sed enim? Sequi eius impedit inventore eum provident voluptas? Mollitia.
            Ea eius consequatur, aliquam dolore eveniet excepturi illo fuga optio odit necessitatibus ipsam, exercitationem nisi at asperiores repellendus, aperiam nihil obcaecati magni quos delectus minima quam? Ex, ab a. Unde.
            Numquam neque aspernatur reiciendis, facilis minima rerum, molestias quis nobis fugit eum recusandae assumenda sint eius pariatur optio quaerat inventore ut ea laborum, iste ad eligendi! Quos veritatis soluta saepe?
            Totam non quis magnam laborum reprehenderit aliquam esse atque eaque. Laboriosam, accusamus quis fugit placeat aliquid nulla facilis ipsam, vitae earum, ab rerum neque officiis! Aperiam cum animi iste consequuntur!</p>
        </section>

        <section>
            <h3>Patos de minas</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque dolorum provident ducimus nisi adipisci, suscipit, at pariatur deserunt ex ipsum rem eum neque! Explicabo fugiat nihil sunt, quibusdam mollitia laudantium?
            Tempora itaque culpa odio voluptate cumque beatae dolores, quam eaque officia est sequi iure ratione animi quo nemo distinctio at modi quis repellendus unde quos? Debitis laboriosam ducimus eveniet in.</p>
            <img src="img/iftm3.jpg" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla similique architecto dicta quae fugiat porro nemo nostrum asperiores velit inventore accusantium doloribus, debitis eos explicabo, vitae corrupti corporis eaque dolores.
            Laboriosam rem asperiores, pariatur aperiam assumenda enim veritatis dolore. Aliquam ullam corporis quidem inventore! Sapiente, vel iure asperiores alias amet sed similique, ducimus, sunt dolor incidunt laudantium cumque maiores veniam?
            Ad, accusantium architecto a atque quod iure recusandae dignissimos, vel harum modi fugiat doloribus, molestiae delectus deleniti unde. Nemo ipsam rerum odit laudantium eum nostrum possimus est nisi recusandae minima.
            Esse ea natus nisi ipsum odio minima porro ex, neque eligendi perspiciatis, quod modi mollitia quibusdam repellat incidunt sed quasi facilis aut dolore? Praesentium eaque et eum, ad quam fuga.
            Non laborum ut maiores fugiat et at quod architecto dolore ea laudantium officiis libero sit cupiditate ducimus eligendi veritatis, ipsa illo deserunt illum labore suscipit. Autem adipisci cupiditate exercitationem illum!
            Sunt eum ipsam porro, amet fuga maiores et, architecto labore voluptate delectus quas, id beatae natus. Rerum iusto eos autem eius, aliquam perspiciatis error, aliquid minima id architecto ut! Numquam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea exercitationem minus iusto velit, maiores tempora iure sit rerum odio voluptatem? Doloremque repellat ab libero numquam odit expedita perspiciatis, minus id!
            Repudiandae vel consequuntur nobis aliquid, explicabo fugiat eius architecto soluta. Pariatur amet tenetur harum vel nihil aliquid, et totam enim provident praesentium maxime voluptatibus hic! Sed alias molestias praesentium perferendis.
            Iste officia reprehenderit dolor excepturi nesciunt maiores dolorum neque! Quis consequuntur, dignissimos laboriosam ipsa repellat libero. Illo porro quis minima fugit ipsa totam alias consectetur consequuntur, voluptatum incidunt iure non.
            Quos magni ratione placeat nihil possimus consectetur, praesentium at, incidunt sed, unde quod? Expedita incidunt ex consectetur nihil. Velit, dolores in. Deleniti molestias corrupti excepturi quisquam ut, incidunt atque praesentium.
            Laboriosam nesciunt iure eum, id modi nobis non quasi provident voluptas aspernatur necessitatibus deleniti quae veritatis consequuntur illo pariatur sed ratione assumenda quam consectetur dignissimos quisquam. Officia ea aliquam velit!
            Dolor vel porro eos nulla dolorem perspiciatis vero minus eum voluptas veniam? Veritatis officia nulla fuga, enim excepturi nihil reprehenderit eos voluptatum consectetur velit expedita tempore magni sint iure fugit??</p>
            <a href="#">Voltar ao topo</a>
        </section>
        
    </main>

    <footer><p>Rodapé da página</p></footer>
</body>
</html>