<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos-criativo.css">
    <title>Criativo</title>
</head>
<body>
    <header>
        <table>
        <tr>
            <td><img src="img/logoIFTM.jpg" alt=""></td>
            <td>
                <h1>Instituto Federal de Educação,Ciência e Tecnologia</h1>
                <p>Ensino Gratuito e de Qualidade</p>
            </td>
        </tr>
    </table>
        <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="">Programação</a></li>
            <li><a href="">Inscreva-se</a></li>
            <li><a href="">Localização</a></li>
            <li><a href="">Certificados</a></li>
            <li><a href="">Fotos</a></li>
            <li><a href="">Sarau</a></li>
            <li><a href="">Feira</a></li>
            <li><a href="">Organização</a></li>
        </ul>
        </nav>
    </header>

    <main>
    </main>

    <footer>
        <table>
            <tr>
                <td>
                    <p>Mapa do site</p>
                    <ul>
                        <li>Opção 1</li>
                        <li>Opção 2</li>
                        <li>Opção 3</li>
                        <li>Opção 4</li>
                        <li>Opção 5</li>
                        <li>Opção 6</li>
                        <li>Opção 7</li>
                        <li>Opção 8</li>
                    </ul> 
                </td>
                <td>
                    <img src="img/parceiros.jpg" alt="">
                </td>
            </tr>
        </table>
        
    </footer>
</body>
</html>