*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
.box {
    cursor: pointer;
    /* border: 2px solid black; */
    /* border-radius: 50px; */
    padding: 5px;
    text-align: center;
    /* width: 100px;
    height: 100px; */
    /* background-color: rgba(255, 228, 196, 0.797); */
    /* position: absolute; */
    position: fixed;
    /* top: 0px; Em cima. */
     bottom: 0px;/*  Em baixo*/
    /* left: 0px; Na esquerda */
     right: 0px;/* Na direita*/
}  
