<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title> Aprendendo Web Design na Prática (HTML5, CSS3 e JavaScript) </title>
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li>
                    <a href="">html</a>
                </li>
                <li>
                    <a href="">css</a>
                </li>
                
                <li>
                    <a href="">JavaScript</a>
                </li>

            </ul>
            <img src="imagens/topo.png" alt="">
        </nav>
    </header>

    <main>
        

        <section>
        <h1>Aprendendo Web Design na Prática</h1>
        <h2>HTML5, CSS3 e JavaScript</h2>
        </section>

        <section>
            <table>
                <tr>
                    <td>
                        <img src="imagens/html5.png" alt="" width="40px">
                        <h3>HTML5</h3>
                    </td>
                    <td>
                        <img src="imagens/css3.png" alt="" width="40px">
                        <h3>CSS3</h3>
                    </td>
                    <td>
                        <img src="imagens/javascript.png" alt="" width="40px">
                        <h3>JavaScript</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita culpa enim quibusdam modi sint unde distinctio saepe dolorum! Cupiditate cumque non laudantium debitis delectus perspiciatis mollitia porro, quos aut placeat!</p>
                        <a href="#">[leia mais]</a>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita culpa enim quibusdam modi sint unde distinctio saepe dolorum! Cupiditate cumque non laudantium debitis delectus perspiciatis mollitia porro, quos aut placeat!</p>
                        <a href="#">[leia mais]</a>
                    </td>
                    <td>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita culpa enim quibusdam modi sint unde distinctio saepe dolorum! Cupiditate cumque non laudantium debitis delectus perspiciatis mollitia porro, quos aut placeat!</p>
                        <a href="#">[leia mais]</a>
                    </td>
                </tr>
            </table>
        </section>
 
        <section>
            <img src="imagens/webdesign.jpg" alt="" width="350">
            <h3>Conheça o nosso portifolio</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia vitae, magnam officiis, ea eius fugiat repellat quidem tenetur illo tempora atque deleniti! Corrupti atque aspernatur quos quibusdam cupiditate doloribus officia!
            Laudantium voluptatem consequuntur illum non facilis obcaecati expedita praesentium consectetur alias fugit accusamus magnam nemo tempora, libero eligendi natus amet rerum. Eaque voluptate quam esse corporis explicabo veniam maxime a.
            Aspernatur eaque necessitatibus expedita, neque dolor nam voluptatem veritatis ut rerum, molestiae voluptas alias eius id, at repudiandae. Laudantium facere voluptatibus voluptatum numquam totam blanditiis nam temporibus architecto vel fugit?
            Harum, nulla! Magni saepe dignissimos ex laboriosam eius corporis consequuntur sequi harum minima enim nostrum adipisci obcaecati, sint commodi numquam eaque maxime recusandae amet impedit soluta quidem quam! Perferendis, facilis!
            Recusandae, optio dolorum. Possimus expedita officiis accusantium earum odit? Iste, expedita. Unde minima autem illo esse eum voluptatem delectus quos commodi dolor reprehenderit natus tenetur cumque, vero eveniet tempora ullam.
            Repellat consequuntur eos, delectus id facilis adipisci commodi maxime perferendis accusantium. Natus, numquam labore minus architecto ipsum assumenda animi. Et deleniti tenetur quidem accusamus! Officia aliquid beatae adipisci optio ea.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia vitae, magnam officiis, ea eius fugiat repellat quidem tenetur illo tempora atque deleniti! Corrupti atque aspernatur quos quibusdam cupiditate doloribus officia!
            Laudantium voluptatem consequuntur illum non facilis obcaecati expedita praesentium consectetur alias fugit accusamus magnam nemo tempora, libero eligendi natus amet rerum. Eaque voluptate quam esse corporis explicabo veniam maxime a.
            Aspernatur eaque necessitatibus expedita, neque dolor nam voluptatem veritatis ut rerum, molestiae voluptas alias eius id, at repudiandae. Laudantium facere voluptatibus voluptatum numquam totam blanditiis nam temporibus architecto vel fugit?
            Harum, nulla! Magni saepe dignissimos ex laboriosam eius corporis consequuntur sequi harum minima enim nostrum adipisci obcaecati, sint commodi numquam eaque maxime recusandae amet impedit soluta quidem quam! Perferendis, facilis!
            Recusandae, optio dolorum. Possimus expedita officiis accusantium earum odit? Iste, expedita. Unde minima autem illo esse eum voluptatem delectus quos commodi dolor reprehenderit natus tenetur cumque, vero eveniet tempora ullam.
            Repellat consequuntur eos, delectus id facilis adipisci commodi maxime perferendis accusantium. Natus, numquam labore minus architecto ipsum assumenda animi. Et deleniti tenetur quidem accusamus! Officia aliquid beatae adipisci optio ea.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia vitae, magnam officiis, ea eius fugiat repellat quidem tenetur illo tempora atque deleniti! Corrupti atque aspernatur quos quibusdam cupiditate doloribus officia!
            Laudantium voluptatem consequuntur illum non facilis obcaecati expedita praesentium consectetur alias fugit accusamus magnam nemo tempora, libero eligendi natus amet rerum. Eaque voluptate quam esse corporis explicabo veniam maxime a.
            Aspernatur eaque necessitatibus expedita, neque dolor nam voluptatem veritatis ut rerum, molestiae voluptas alias eius id, at repudiandae. Laudantium facere voluptatibus voluptatum numquam totam blanditiis nam temporibus architecto vel fugit?
            Harum, nulla! Magni saepe dignissimos ex laboriosam eius corporis consequuntur sequi harum minima enim nostrum adipisci obcaecati, sint commodi numquam eaque maxime recusandae amet impedit soluta quidem quam! Perferendis, facilis!
            Recusandae, optio dolorum. Possimus expedita officiis accusantium earum odit? Iste, expedita. Unde minima autem illo esse eum voluptatem delectus quos commodi dolor reprehenderit natus tenetur cumque, vero eveniet tempora ullam.
            Repellat consequuntur eos, delectus id facilis adipisci commodi maxime perferendis accusantium. Natus, numquam labore minus architecto ipsum assumenda animi. Et deleniti tenetur quidem accusamus! Officia aliquid beatae adipisci optio ea.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia vitae, magnam officiis, ea eius fugiat repellat quidem tenetur illo tempora atque deleniti! Corrupti atque aspernatur quos quibusdam cupiditate doloribus officia!
            Laudantium voluptatem consequuntur illum non facilis obcaecati expedita praesentium consectetur alias fugit accusamus magnam nemo tempora, libero eligendi natus amet rerum. Eaque voluptate quam esse corporis explicabo veniam maxime a.
            Aspernatur eaque necessitatibus expedita, neque dolor nam voluptatem veritatis ut rerum, molestiae voluptas alias eius id, at repudiandae. Laudantium facere voluptatibus voluptatum numquam totam blanditiis nam temporibus architecto vel fugit?
            Harum, nulla! Magni saepe dignissimos ex laboriosam eius corporis consequuntur sequi harum minima enim nostrum adipisci obcaecati, sint commodi numquam eaque maxime recusandae amet impedit soluta quidem quam! Perferendis, facilis!
            Recusandae, optio dolorum. Possimus expedita officiis accusantium earum odit? Iste, expedita. Unde minima autem illo esse eum voluptatem delectus quos commodi dolor reprehenderit natus tenetur cumque, vero eveniet tempora ullam.
            Repellat consequuntur eos, delectus id facilis adipisci commodi maxime perferendis accusantium. Natus, numquam labore minus architecto ipsum assumenda animi. Et deleniti tenetur quidem accusamus! Officia aliquid beatae adipisci optio ea.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia vitae, magnam officiis, ea eius fugiat repellat quidem tenetur illo tempora atque deleniti! Corrupti atque aspernatur quos quibusdam cupiditate doloribus officia!
            Laudantium voluptatem consequuntur illum non facilis obcaecati expedita praesentium consectetur alias fugit accusamus magnam nemo tempora, libero eligendi natus amet rerum. Eaque voluptate quam esse corporis explicabo veniam maxime a.
            Aspernatur eaque necessitatibus expedita, neque dolor nam voluptatem veritatis ut rerum, molestiae voluptas alias eius id, at repudiandae. Laudantium facere voluptatibus voluptatum numquam totam blanditiis nam temporibus architecto vel fugit?
            Harum, nulla! Magni saepe dignissimos ex laboriosam eius corporis consequuntur sequi harum minima enim nostrum adipisci obcaecati, sint commodi numquam eaque maxime recusandae amet impedit soluta quidem quam! Perferendis, facilis!
            Recusandae, optio dolorum. Possimus expedita officiis accusantium earum odit? Iste, expedita. Unde minima autem illo esse eum voluptatem delectus quos commodi dolor reprehenderit natus tenetur cumque, vero eveniet tempora ullam.
            Repellat consequuntur eos, delectus id facilis adipisci commodi maxime perferendis accusantium. Natus, numquam labore minus architecto ipsum assumenda animi. Et deleniti tenetur quidem accusamus! Officia aliquid beatae adipisci optio ea.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia vitae, magnam officiis, ea eius fugiat repellat quidem tenetur illo tempora atque deleniti! Corrupti atque aspernatur quos quibusdam cupiditate doloribus officia!
            Laudantium voluptatem consequuntur illum non facilis obcaecati expedita praesentium consectetur alias fugit accusamus magnam nemo tempora, libero eligendi natus amet rerum. Eaque voluptate quam esse corporis explicabo veniam maxime a.
            Aspernatur eaque necessitatibus expedita, neque dolor nam voluptatem veritatis ut rerum, molestiae voluptas alias eius id, at repudiandae. Laudantium facere voluptatibus voluptatum numquam totam blanditiis nam temporibus architecto vel fugit?
            Harum, nulla! Magni saepe dignissimos ex laboriosam eius corporis consequuntur sequi harum minima enim nostrum adipisci obcaecati, sint commodi numquam eaque maxime recusandae amet impedit soluta quidem quam! Perferendis, facilis!
            Recusandae, optio dolorum. Possimus expedita officiis accusantium earum odit? Iste, expedita. Unde minima autem illo esse eum voluptatem delectus quos commodi dolor reprehenderit natus tenetur cumque, vero eveniet tempora ullam.
            Repellat consequuntur eos, delectus id facilis adipisci commodi maxime perferendis accusantium. Natus, numquam labore minus architecto ipsum assumenda animi. Et deleniti tenetur quidem accusamus! Officia aliquid beatae adipisci optio ea.</p>

        </section>
        <section>
            <img src="imagens/portifolio01.jpg" alt="">
            <img src="imagens/portifolio02.jpg" alt="">
            <img src="imagens/portifolio03.jpg" alt="">
        </section>
    </main>

    <footer>
        <p>Todos os direitos reservados</p>
        <img src="imagens/logoRedesSociais.png" alt="Imagem com as logos do Facebook, snap chat, E-mail, Instagram e You tube todos em azul." width="300">
        <p>Rua da paz, 630. Uberlândia (MG) - Brasil</p><p>+55(34)3221-4800</p>
    </footer>


</body>
</html>